@use "global" as *;

.about {
  position: relative;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__image-fish {
  padding-top: rem(16);
  width: rem(281);
  height: rem(186);
  margin-left: auto;
}

.about__image-roof {
  position: absolute;
  width: rem(128);
  height: rem(194);
  top: rem(155);
  left: rem(65);
  @include mq(md) {
    z-index: 2;
    width: rem(399);
    height: rem(606);
    top: rem(203);
    left: rem(181);
  }

}

.about__pc {
  padding-top: rem(40);
  @include mq(md) {
    padding-top: rem(80);
    margin-left: rem(355);
    margin-right: rem(180);
    margin-bottom: rem(140);
  }
}

.about__pc-image {
  @include mq(md) {
    position: relative;
    width: rem(880);
    height: rem(581);
    background-image: url(../images/common/about-fish.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: rem(120);
  }
}
.about__pc-flex {
  @include mq(md) {
    display: flex;
  }
}

.about__pc-flex--right {
  // margin-left: 0;

}

.about__title {
  font-family: $font-family;
  font-size: rem(40);
  color: $green-accent;
  font-weight: $normal;
  line-height: 1;
  @include mq(md) {
    z-index: 3;
    font-size: rem(80);
    color: $white;
    line-height: 1.25;
    width: rem(400);
  }
}

.about__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $green;
  font-weight: $normal;
  line-height: 1.5;
  padding-top: rem(16);
  @include mq(md) {
    color: $white;
    width: rem(480);
    padding-top: 0;
    padding-left: rem(40);
    padding-right: rem(41);
  }
}

.about__image-coral {
  position: absolute;
  width: rem(194);
  height: rem(181);
  right: rem(86.5);
  bottom: rem(-90);
  
}
