@use "global" as *;

.blog {
  position: relative;
  @include mq(md) {
    width: rem(1440);
    height: rem(500);
    width: 100%;
    // max-width: rem(1500);
    background-image: url(../images/common/blog.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.blog__cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(md) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: rem(56);
    z-index: 3;
  }
}

.blog__card {
  width: rem(333);
  height: rem(447);
  max-width: rem(600);
  padding: rem(16) rem(16) rem(24) rem(16);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: $white;
  transition: background-color 0.3s;
}

.blog__card:hover {
  background-color: rgba(221, 240, 241, 0.8);
}

.blog__card-date {
  font-family: $font-family;
  color: $green;
  font-size: rem(12);
  line-height: 1.5;
  font-weight: $normal;
  display: block;
  padding-top: rem(24);
}

.blog__card-title {
  font-family: $base-font-family;
  color: $green;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  position: relative;
  padding-bottom: rem(4);
}

.blog__card-title::after {
  content: "";
  display: block;
  width: 100%;
  height: rem(1);
  background-color: $green-accent;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog__card-text {
  font-family: $base-font-family;
  color: $green;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  padding-top: rem(16);
  @include mq(md) {
    color: #000;
  }
}

.blog__card:not(:first-child) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.blog__image-fish {
  @include mq(md) {
    position: absolute;
    width: rem(376);
    height: rem(120);
    top: rem(24);
    left: rem(100);
  }
}
