@use "global" as *;

.footer__inner {
  height: rem(729);
  width: 100%;
  background-color: $green-accent;
  @include mq(md) {
    height: rem(559);
  }
}

.footer__logo-flex {
  @include mq(md) {
    display: flex;
    align-items: flex-end;
  }
}
.footer__logo {
  padding-top: rem(48);
  padding-left: rem(15);
  @include mq(md) {
    padding-top: rem(80);
    padding-left: rem(180);
    margin-right: rem(35);
  }
}

.footer__logo img {
  width: rem(120);
  height: rem(45);
  @include mq(md) {
    width: rem(200);
    height: rem(75);
  }
}

.footer__sns {
  display: flex;
  padding-top: rem(16);
}

.footer__sns img {
  margin-left: rem(15);
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer__nav-lists {
  margin-top: rem(24);
  font-family: $base-font-family;
  color: $white;
  column-count: 2;
  // column-gap: rem(40);
  line-height: 1.125;
  @include mq(md) {
    padding-left: rem(180);
    padding-right: rem(180);
    width: rem(986);
    width: 100%;
    column-count: 4;
    // column-gap: rem(80);
    // text-align: center;
    // align-items: stretch;
  }
}

.footer__nav-lists ul {
  font-weight: bold;
  font-size: rem(16);

}

.footer__nav-lists li:hover {
  opacity: 0.8;
}

.footer__nav-lists li {
  display: inline-block;
  width: 100%;
  line-height: 1.125;
  margin-bottom: rem(24);
  display: flex;
  align-items: center;
  height: 100%; /* 要素の高さを100%に設定 */
  @include mq(md) {
    margin-bottom: 0;
  }
}

.footer__nav-lists li.star::before {
  content: "";
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background: url(../images/common/starfish.png) no-repeat;
  background-size: contain;
  margin-right: rem(8);
  vertical-align: text-bottom;
  margin-left: rem(15);
}



.font-normal {
  font-weight: $normal;
  margin-left: rem(40);
  margin-top: rem(24);
  @include mq(md) {
    // margin-left: 0;
    margin-top: 0;
  }
}

.large {
  @include mq(md) {
    padding-top: rem(40);
  }
}

.short {
  @include mq(md) {
    padding-top: rem(12);
  }
}

.footer__copyright {
  font-family: $font-family;
  color: $white;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
  text-align: center;
  padding-top: rem(40);
  @include mq(md) {
    font-size: rem(14);
    line-height: 1.285;
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}
