@use 'global' as *;

// .fv__image {
//   position: relative;
// }

.fv__image {
  width: rem(375);
  height: rem(667);
  @include mq(md) {
    width: rem(1440);
    height: rem(768);
  }
}

// .fv__image img {
//   width: rem(375);
//   height: rem(667);
//   max-width: 100%;
//   object-fit: cover;
//   @include mq(md) {
//     height: rem(768);
//   }
// }