@use "global" as *;

#pagetop {
  position: fixed;
  left: rem(8);
  bottom: rem(740);
  text-indent: -9999px;
  margin: 0;
  @include mq(md) {
    left: rem(12);
    bottom: rem(610);
  }
}
#pagetop a:hover {
  opacity: 0.8;
}

#pagetop a {
  width: rem(48);
  height: rem(48);
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $green-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}
#pagetop a::before {
  content: "";
  display: block;
  position: absolute;
  background: $green-accent;
  top: 12px;
  left: 25px;
  width: 1px;
  height: 27px;
  @include mq(md) {
    left: 38px;
    width: 1px;
    height: 50px;
  }
}
#pagetop a::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid;
  border-color: transparent transparent $green-accent transparent;
  transform: rotate(135deg);
  top: 16px;
  left: 19px;
  width: 8px;
  height: 3px;
  @include mq(md) {
    left: 30px;
    width: 13px;
    height: 6px;
  }
}
