@use "global" as *;

.voice {
  position: relative;
}

.voice__inner {
  @include mq(md) {
    margin-top: rem(471);
  }
}

.voice__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(md) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.voice__card {
  width: rem(345);
  height: rem(420);
  padding: rem(0) rem(16) rem(24) rem(16);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  @include mq(md) {
    width: rem(520);
    height: rem(396);
    padding: rem(24);
  }
}

.voice__card:first-child {
  @include mq(md) {
    margin-right: rem(40);
  }
}
.voice__card:not(:first-child) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}
.voice__flex {
  display: flex;
  justify-content: space-between;
}

.voice__first-line {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    padding-top: rem(26);
    align-items: flex-end;
  }
}

.voice__info {
  font-family: $base-font-family;
  color: $green;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
  padding-top: rem(14);
  @include mq(md) {
    padding-top: 0;
  }
}

.voice__category {
  font-family: $base-font-family;
  color: $green-accent;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.83333;
  border: 1px solid $green-accent;
  padding: rem(3.35) rem(11);
  width: auto;
  display: inline-block;
  text-align: center;
  @include mq(md) {
    padding: rem(3.55) rem(13);
  }
}

.voice__title {
  font-family: $base-font-family;
  color: $green;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  width: rem(149);
  height: rem(69);
  padding-top: rem(4);
  position: relative;
  @include mq(md) {
    font-size: rem(24);
    line-height: 1.5;
    width: rem(276);
    padding-top: rem(8);
  }
}

.voice__title::after {
  content: "";
  display: block;
  width: 100%;
  height: rem(1);
  background-color: $green-accent;
  position: absolute;
  bottom: rem(-9.2);
  left: 0;
  @include mq(md) {
    bottom: rem(-12.8);
  }
}

.voice__image {
  padding-top: rem(24);
  width: rem(151);
  height: rem(117);
  @include mq(md) {
    padding-top: 0;
    width: rem(180);
    height: rem(140);
  }
}

.voice__text {
  font-family: $base-font-family;
  color: $green;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  padding-top: rem(16);
  @include mq(md) {
    color: #000;
    padding-top: rem(40);
  }
}

.voice__button {
  @include mq(md) {
    margin-top: rem(60);
    margin-bottom: rem(140);
  }
}

.voice__image-fish {
  @include mq(md) {
    position: absolute;
    width: rem(301);
    height: rem(138);
    top: rem(-120);
    left: rem(98);
  }
}
.voice__image-seahorse {
  @include mq(md) {
    position: absolute;
    width: rem(71);
    height: rem(162);
    right: rem(180);
    bottom: rem(-73);
  }
}
