@use "global" as *;

.hamburger {
  position: relative;
  right: rem(15);
  top: rem(29);
  z-index: 5;
  width: rem(32);
  height: rem(24);
  outline: none;
  transition: all 0.3s ease-in-out;
  @include mq(md) {
    display: none;
  }
}

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: rem(32);
  height: rem(1);
  background-color: $white;
  transition: inherit;
}

.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: "";
  transition: inherit;
}

.hamburger__line::before {
  top: rem(-12);
}
.hamburger__line::after {
  top: rem(12);
}

.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
  &::before,
  &::after {
    top: 0;
    background-color: $white;
  }
}
.hamburger[aria-expanded="true"] .hamburger__line::before {
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  transform: rotate(-45deg);
}

.drawer-background {
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $green-accent;
  color: $white;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .header__sp-nav {
  opacity: 1;
  transform: translateX(0px);
  transition: 0.5s;
}
.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
