@use "global" as *;

.header__inner {
  position: fixed;
  z-index: 9999;
  height: rem(80);
  width: 100%;
  max-width: 100%;
  background: rgba(13, 41, 54, 0.68);
  @include mq(md) {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: rem(90);
    justify-content: space-between;
  }
}

.header__inner-flex {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-top: rem(21);
  margin-left: rem(15);
  @include mq(md) {
    margin-left: rem(40);
  }
}

.header__logo img {
  width: rem(102);
  height: rem(38);
  @include mq(md) {
    width: rem(133);
    height: rem(50);
  }
}

.header__sp-nav {
  opacity: 0;
  position: fixed;
  width: rem(375);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  height: rem(667);
  background-color: $green-accent;
  transform: translateX(475px);
  transition: 0.5s;
  @include mq(md) {
    display: none;
  }
}

.header__sp-nav-lists {
  display: flex;
  align-items: flex-start;
  font-family: $base-font-family;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.125;
  padding-top: rem(45);
  width: 100%;
}

.header__sp-nav-lists li a {
  display: inline-block;
  align-items: center;
}

.header__sp-nav-lists li:hover {
  opacity: 0.8;
}

.header__sp-nav-lists--star a::before {
  content: "";
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background: url(../images/common/starfish.png) no-repeat;
  background-size: contain;
  margin-right: rem(4);
  margin-left: rem(15);
  vertical-align: text-bottom;
}
.header__sp-nav-lists--star-right a::before {
  content: "";
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background: url(../images/common/starfish.png) no-repeat;
  background-size: contain;
  margin-right: rem(4);
  vertical-align: text-bottom;
}

.header__sp-nav-lists--star-right-top a {
  position: relative;
}

.header__sp-nav-lists--star-right-top a::before {
  content: "";
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background: url(../images/common/starfish.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: rem(2);
  left: rem(-24);
  margin-right: rem(4);
}

.header__sp-nav-lists--top {
  padding-top: rem(24);
}
.header__sp-nav-lists--large {
  padding-top: rem(40);
}

.header__sp-nav-lists--font-normal {
  font-weight: $normal;
  margin-left: rem(40);
}

.header__sp-nav-lists--font-normal-right {
  font-weight: $normal;
  margin-left: rem(20);
}

.header__sp-nav-lists--privacy {
  padding-left: rem(24);
}

.header__pc-nav ul {
  display: flex;
}

.header__pc-nav-link {
  display: inline-block;
  text-align: center;
  align-items: center;
  color: $white;
  height: rem(90);
  @include mq(md) {
    padding-right: rem(20);
  }
  @include mq(xl) {
    padding-right: rem(40);
  }
}

.header__pc-nav-eng-title {
  font-family: $font-family;
  font-weight: $normal;
  line-height: 1;
  padding-top: rem(26);
  @include mq(md) {
    font-size: rem(16);
  }
  @include mq(xl) {
    font-size: rem(18);
  }
}

.header__pc-nav-title {
  font-family: $base-font-family;
  font-weight: $normal;
  @include mq(md) {
    font-size: rem(6);
    line-height: 1;
  }
  @include mq(xl) {
    font-size: rem(10);
    line-height: 1.5;
  }
}

.header__pc-nav li a,
.header__sp-nav-lists li a {
  position: relative;
}

.header__pc-nav li.current a,
.header__pc-nav li a:hover {
  color: $green-accent;
}
.header__sp-nav-lists li.current a,
.header__sp-nav-lists li a:hover {
  color: $green-accent;
}

.header__pc-nav li a::after,
.header__pc-nav-lists li a::after {
  content: "";
  position: absolute;
  bottom: rem(15);
  left: -6%;
  width: 80%;
  height: 2px;
  background: $green-accent;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.header__pc-nav li.current a::after,
.header__pc-nav li a:hover::after {
  transform: scale(1, 1);
}

.header__sp-nav-lists li.current a::after,
.header__sp-nav-lists li a:hover::after {
  transform: scale(1, 1);
}
